@import '~bootstrap/scss/bootstrap';


h1{
    text-align: center;
    text-transform: uppercase;
    color: red;
    margin-top: 30px;
}

.card_structure{
    border: 2px solid blue;
    border-radius: 12px;
}